<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="1000px">
      
        <div fxLayout="row" fxLayoutAlign="center" class="mt-20">
            <div fxLayout="column" fxFlex="1000px">
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Resultado</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
    
                        <table mat-table [dataSource]="empresas">
    
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef>Id</th>
                                <td mat-cell *matCellDef="let empresa">{{ empresa.id }}</td>
                            </ng-container>
    
                            <ng-container matColumnDef="razao_social">
                                <th mat-header-cell *matHeaderCellDef>Razão Social</th>
                                <td mat-cell *matCellDef="let empresa">{{ empresa.razao_social }}</td>
                            </ng-container>
    
                            <ng-container matColumnDef="nome_fantasia">
                                <th mat-header-cell *matHeaderCellDef>Nome Fantasia</th>
                                <td mat-cell *matCellDef="let empresa">{{ empresa.nome_fantasia }}</td>
                            </ng-container>
    
                            <ng-container matColumnDef="cnpj">
                                <th mat-header-cell *matHeaderCellDef>CNPJ</th>
                                <td mat-cell *matCellDef="let empresa">{{ empresa.cnpj }}</td>
                            </ng-container>
    
                            <ng-container matColumnDef="acoes">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let empresa">
                                    <button type="button" mat-button (click)="edit(empresa.id)">
                                        <mat-icon fontIcon="edit"></mat-icon>
                                        Editar
                                    </button>

                                    <button type="button" mat-button (click)="delete(empresa)">
                                        <mat-icon fontIcon="delete"></mat-icon>
                                        Deletar
                                    </button>

                                    <button type="button" mat-button (click)="person(empresa.id)">
                                       <mat-icon>person</mat-icon>
                                        Funcionarios
                                    </button>
                                </td>
                            </ng-container>
                            
    
                            <tr mat-header-row *matHeaderRowDef="colunasTable"></tr>
                            <tr mat-row *matRowDef="let row; columns: colunasTable" ></tr>
                        </table>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
