body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px #0056b3;
    padding: 20px;
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin: 10px 5px;
    color: #555;
}

button {
    width: 75%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10%;
}

button:hover {
    background-color: #0056b3;
}

form.form input {
    width: 80%;
    border-radius: 4px;
}

select {
    background-color: var(--mdc-filled-text-field-container-color, var(--mat-sys-surface-variant));
    color: #fff;
    width: 80%;
    padding: 2%;
    border-radius: 4px;
    font-family: inherit;
}

.pergunta {
    margin-top: 3%;
    text-align: left;
    font-family: inherit;
}

.pergunta span {
    font-weight: bold;
}

.resposta {
    text-align: left;
    font-family: inherit;
}

.resposta span {
    font-weight: bold;
}