<mat-toolbar color="primary">

  <span>Company</span>
  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="menuEmpresa">Empresa</button>
  <mat-menu #menuEmpresa="matMenu">
    <button mat-menu-item>
      <a routerLink="/empresa" class="menu">
        <mat-icon fontIcon="feed"></mat-icon>
        Cadastro
      </a>
    </button>
    <button mat-menu-item>
      <a routerLink="/consulta-empresa" class="menu">
        <mat-icon fontIcon="feed"></mat-icon>
        Consulta
      </a>  
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuFuncionario">Funcionario</button>
  <mat-menu #menuFuncionario="matMenu">
    <button mat-menu-item>
      <a routerLink="/funcionario" class="menu">
        <mat-icon fontIcon="feed"></mat-icon>
        Cadastro
      </a>
    </button>
    <button mat-menu-item>
      <a routerLink="/consulta-funcionario" class="menu">
        <mat-icon fontIcon="feed"></mat-icon>
        Consulta
      </a>  
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuQuestionario">Questionário</button>
  <mat-menu #menuQuestionario="matMenu">
    <button mat-menu-item>
      <a routerLink="/questionario" class="menu">
        <mat-icon fontIcon="feed"></mat-icon>
        Responder Questionário
      </a>
    </button>
    <button mat-menu-item>
      <a routerLink="/criar-questionario" class="menu">
        <mat-icon fontIcon="feed"></mat-icon>
        Criar Questionário
      </a>  
    </button>
  </mat-menu>

</mat-toolbar>

<router-outlet>
</router-outlet>
